---
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Teste</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about">Sobre</a>
    <a href="/blog">Blog</a>

		<h2>Sobre o Framework Astro</h2>
    <p>Lorem ipsum...</p>
	</body>
</html>
